
body{
    background-image: url(nero-swatch.jpg);
    margin: 0;
}
.header{
    color: white;
    font-size: 34px;
    display: grid;
    font-family: 'Times New Roman';
    padding-left: 26%;
    position: relative;
    height: 10vh;
    align-items: center;
    box-shadow: 5px 5px 150px rgba(255, 255, 255, 0.158)
}
.bottom{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
    height: 30px;
}
#newbook--button{
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman';
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 5px 5px 150px rgba(255, 255, 255, 0.1);
    border: none;
    transition: 0.5s;
  
}
#newbook--button:hover{
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 5px 5px 150px rgba(255, 255, 255, 0.3);
    transition: 0.5s;
 

}

.submitform{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    color: white;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.6) ;
    border: none;
    width:  200px;
    height:  200px;

}

.submitform.active{
    transform:translate(-50%,-50%) scale(1);
    color: black;
    display: grid;
    background-color: rgba(255, 255, 255, 0.9) ;
    border: 1px solid black;
    align-items: center;
    justify-items: center;
    box-shadow: 00px 0px 100px rgba(255, 255, 255, 0.6);
    border-radius: 5px 5px 5px;



}

#blackout{
    background-color: rgba(0, 0, 0, 0) ; 
    transition: 0.5s;
    position:relative;
}

#blackout.active{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.6) ;
}

#submit--button{
    border: none;
    width: 180px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.1) ;
    border-radius: 5px 5px 5px;
    transition: 0.5s;
}
#submit--button:hover{
    background-color: rgba(0, 0, 0, 0.2) ;
}

.shelf{
    position: fixed;
    top:30%;
    left:15%;
    width: 65%;
    background-color: white;
    background-color: transparent;
    align-items: center;
    justify-items: center;
}
#book--list{

    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

.storage{
    display: grid;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid black;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    box-shadow: 00px 0px 100px rgba(255, 255, 255, 0.3);
    border-radius: 5px 5px 5px;


}


.closebox ,.checkbox {
    width: 100%;
    border-radius: 10px 10px 10px;

}

.closebox{
    background-color: rgba(235, 235, 235, 0.6);
    transition: 0.5s;
}

.closebox:hover{
    background-color: rgba(235, 235, 235, 1);
}
.red {
    background-color: rgba(240, 57, 57, 0.4);
    transition: 0.5s;
}
.red:hover {
    background-color: rgba(240, 57, 57, 0.7);
}
.green{
    background-color: rgba(60, 255, 0, 0.3);
}

.green:hover{
    background-color: rgba(60, 255, 0, 0.6);
}
